body{
  font-family: Arial, Helvetica, sans-serif;
}

#increment{
  display: flex;
  align-items: center;
  justify-content:baseline;
  padding-left: 57px;
  font-size: large;
  width: 100%;
  margin-bottom: -15%;
}

.incre  {
  color: #740CFF;
  font-weight: 490;
  padding-top: 4px;
}

.ment{
  color: #740CFF;
  font-weight: 800;
}

#bank{
  background-color: #9D73F1ed;
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  border: 40px solid ;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 55px;
}

.splitleft {
    height: 100%;
    width:85%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: aqua;
  }
  
#left {
    left: 0;
    width: 300px;
    background-color: #ffffff;
  }

  .splitright {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #9D73F1ed;
  }
  
#right {
    right: 0;
    width: 1600px;
    display: flex;
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.attributes img{
    background-color: #9D73F1ed;
    width: 20px;
    height: auto;
    border: 2px solid;
    border-radius: 15%;
    border-color: #9D73F1ed;

  }

  #up{
    padding-bottom: 60px;
  }

  #attributes2{
    padding-top: 60px;
  }

  hr.solid {
    border-top: 2px solid #bbb;
    opacity: 40%;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 20%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content:baseline;
    padding-left: 75px;
  }
  
  img {
    max-width: 40px;
    max-height:auto;
    float: left;
  }
  

  .text a {
    text-decoration: none;
    font-size: 13px;
    padding-left: 10px;
    font-weight: 550;
    color: #9D73F1ed;
  }

  
  .text a:hover{
    color: #750CFF;
    font-weight: 780;
  }

  .border{
    color: green;
    border: 2px solid; 
    border-radius: 10px;
    border-color: #E7DFF8;
    background-color:#E7DFF8;
    padding-left: 1px;
    margin-left: 550px;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  
